*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #141519;
  color: #fff;
  line-height: 1.5;
  font-family: "Lato", "Helvetica Neue", "Helvetica", "sans-serif";
  font-weight: 400;
  overflow-anchor: none;
}

/* establece las medias */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* saca las tipografias de los forms */
input,
button,
textarea,
select {
  font: inherit;
}

/* evita el overflow de los textos */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* evita apilar automaticamente */
#root,
#__next {
  isolation: isolate;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
